USE [master]
GO
/****** Object:  Database [BD_Clinica]    Script Date: 21/10/2024 13:28:43 ******/
CREATE DATABASE [BD_Clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_Clinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_Clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Clinica]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[ID_Departamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[ID_Doctor] [int] IDENTITY(1,1) NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Matricula] [varchar](50) NOT NULL,
	[Especialidad] [varchar](50) NOT NULL,
	[Foto] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[ID_Horario] [int] IDENTITY(1,1) NOT NULL,
	[ID_Doctor] [int] NOT NULL,
	[Horario] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[ID_Turno] [int] IDENTITY(1,1) NOT NULL,
	[ID_Doctor] [int] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[NombrePaciente] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Motivos] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Fecha_Turno] [datetime] NOT NULL,
	[Horario] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Usuarios__3214EC078A7CF7FA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([ID_Departamento], [Nombre]) VALUES (1, N'Cardiología')
INSERT [dbo].[Departamentos] ([ID_Departamento], [Nombre]) VALUES (2, N'Neurología')
INSERT [dbo].[Departamentos] ([ID_Departamento], [Nombre]) VALUES (3, N'Pediatría')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctores] ON 

INSERT [dbo].[Doctores] ([ID_Doctor], [ID_Departamento], [Nombre], [Matricula], [Especialidad], [Foto]) VALUES (1, 1, N'Dra. María Gómez ', N'234567', N'Cardiologia Pediatrica', N'https://img.freepik.com/foto-gratis/hermosa-joven-doctora-mirando-camara-oficina_1301-7807.jpg?t=st=1728671329~exp=1728674929~hmac=10da62290e94eea29f782b01677735fc491e9a25a2adc8b568a3740bd1f14bbe&w=740')
INSERT [dbo].[Doctores] ([ID_Doctor], [ID_Departamento], [Nombre], [Matricula], [Especialidad], [Foto]) VALUES (4, 1, N'Dr. Juan Pérez', N'123456', N'Cardiología
', N'https://img.freepik.com/foto-gratis/pensativo-joven-medico-portapapeles_23-2147896196.jpg?t=st=1728671160~exp=1728674760~hmac=92b1a6bb021fca22c018991dcd3ef6c4ce2b99b880dc90fc996fc18ddfde5b75&w=740')
INSERT [dbo].[Doctores] ([ID_Doctor], [ID_Departamento], [Nombre], [Matricula], [Especialidad], [Foto]) VALUES (5, 2, N'Dra. Patricia Ramírez', N'223344', N' Neurofisiología Clínica', N'https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-blanca-estetoscopio-buscando-confianza-ans-inteligente-pie-azul-aislado_141793-19452.jpg?t=st=1729006163~exp=1729009763~hmac=ea1ecf26469c3deb74a1a48109be6588985a274e8280799a4f3d3473c24af005&w=1380')
SET IDENTITY_INSERT [dbo].[Doctores] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([ID_Horario], [ID_Doctor], [Horario]) VALUES (1, 1, CAST(N'10:00:00' AS Time))
INSERT [dbo].[Horarios] ([ID_Horario], [ID_Doctor], [Horario]) VALUES (2, 1, CAST(N'10:30:00' AS Time))
INSERT [dbo].[Horarios] ([ID_Horario], [ID_Doctor], [Horario]) VALUES (3, 1, CAST(N'11:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([ID_Turno], [ID_Doctor], [ID_Departamento], [ID_Usuario], [NombrePaciente], [DNI], [Motivos], [Telefono], [Fecha_Turno], [Horario]) VALUES (15, 1, 1, 1, N'Rodrigo Leiva', 54678923, N'Control', N'0357215607857', CAST(N'2024-10-31T00:00:00.000' AS DateTime), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Turnos] ([ID_Turno], [ID_Doctor], [ID_Departamento], [ID_Usuario], [NombrePaciente], [DNI], [Motivos], [Telefono], [Fecha_Turno], [Horario]) VALUES (16, 1, 1, 1, N'Rodrigo Leiva', 54678923, N'Consulta', N'1234543', CAST(N'2024-11-10T00:00:00.000' AS DateTime), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Turnos] ([ID_Turno], [ID_Doctor], [ID_Departamento], [ID_Usuario], [NombrePaciente], [DNI], [Motivos], [Telefono], [Fecha_Turno], [Horario]) VALUES (13, 1, 1, 1, N'Mariana', 33454678, N'Consulta', N'0357215607857', CAST(N'2024-10-31T00:00:00.000' AS DateTime), CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Turnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Email]) VALUES (1, N'Rodrigo Leiva', N'12345678', N'www.rodrigo_elfacha@hotmail.com')
INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Email]) VALUES (4, N'Roberto Fangio', N'87654321', N'robertito@Gmail.com')
INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Email]) VALUES (5, N'Gimena Arias', N'12387654', N'Gimena.Ari@s.GMAil.es')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[BuscarUsuarios]
@Username as varchar(50)
as
SELECT * 
FROM Usuarios 
WHERE Username = @Username
GO
/****** Object:  StoredProcedure [dbo].[Cargar_Combo_Depto]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_Combo_Depto]
as
select d.ID_Departamento, d.Nombre
from Departamentos d
GO
/****** Object:  StoredProcedure [dbo].[Cargar_Combo_Doctores]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_Combo_Doctores]
@ID as int
as
select d.ID_Doctor,d.Nombre
from Doctores d
where ID_Departamento = @ID
GO
/****** Object:  StoredProcedure [dbo].[Cargar_Combo_Horarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cargar_Combo_Horarios]
    @ID_Doctor INT
AS
BEGIN
    -- Seleccionar los horarios disponibles para el doctor según el ID_Doctor
    SELECT 
        H.ID_Horario, 
        H.Horario 
    FROM 
        Horarios H
    WHERE 
        H.ID_Doctor = @ID_Doctor;
END
GO
/****** Object:  StoredProcedure [dbo].[Cargar_Combo_Horarios2]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cargar_Combo_Horarios2]
    @NombreDoctor as varchar(100)
AS
BEGIN
    -- Seleccionar los horarios disponibles para el doctor según el ID_Doctor
    SELECT 
        H.ID_Horario, 
        H.Horario 
    FROM 
        Horarios H
		join Doctores d
		on   H.ID_Doctor = d.ID_Doctor
    WHERE 
     d.Nombre  = @NombreDoctor;
END
GO
/****** Object:  StoredProcedure [dbo].[CargarTurnos]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarTurnos]
@ID_Doctor AS INT,
@ID_Departamento AS INT,
@ID_Usuario AS INT,
@Paciente AS VARCHAR(50),
@DNI AS INT,
@Motivo AS VARCHAR(50),  -- Cambiado de @Motivos a @Motivo
@Telefono AS VARCHAR(50),
@Fecha AS DATETIME,
 @Horario TIME
AS
INSERT INTO Turnos
VALUES(@ID_Doctor, @ID_Departamento, @ID_Usuario, @Paciente, @DNI, @Motivo, @Telefono, @Fecha, @Horario)
GO
/****** Object:  StoredProcedure [dbo].[Consultar_ID]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Consultar_ID]
@ID as int
as
select t.ID_Turno as N, t.NombrePaciente as Paciente, t.DNI as DNI , d.Nombre as Departamento, doc.Nombre as Doctor, t.Fecha_Turno as "Fecha del Turno", t.Motivos,t.Telefono 
from Turnos t
join Departamentos d
on t.ID_Departamento = d.ID_Departamento
join Doctores Doc 
on t.ID_Doctor = Doc.ID_Doctor
where @ID = t.ID_Turno
GO
/****** Object:  StoredProcedure [dbo].[Consultar_Turnos]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Consultar_Turnos]
@DNI as int
as
SELECT 
    t.ID_Turno as N, 
    t.NombrePaciente as Paciente, 
    t.DNI as DNI, 
    d.Nombre as Departamento, 
    doc.Nombre as Doctor, 
    CONVERT(VARCHAR(10), t.Fecha_Turno, 103) as "Fecha del Turno", 
    t.Motivos,
    t.Telefono 
FROM 
    Turnos t
JOIN 
    Departamentos d ON t.ID_Departamento = d.ID_Departamento
JOIN 
    Doctores Doc ON t.ID_Doctor = Doc.ID_Doctor
WHERE 
    @DNI = t.DNI
GO
/****** Object:  StoredProcedure [dbo].[ConsultarTurnosPorUsuario]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarTurnosPorUsuario]
    @UserID INT
AS
BEGIN
    SELECT ID_Turno as Nº , u.Username as Paciente, t.DNI ,  d.Nombre as Departamento, doc.Nombre as Doctor, t.Fecha_Turno as [Fecha del Turno],t.Horario, t.Motivos , t.Telefono
	FROM Turnos t
	join Usuarios u
	on t.ID_Usuario = u.Id
	join Departamentos d
	on t.ID_Departamento = d.ID_Departamento
	join Doctores doc
	on doc.ID_Doctor = t.ID_Doctor
	WHERE t.ID_Usuario = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[DoctoresInfo]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoctoresInfo]
    @ID_Doctor INT
AS
BEGIN
    SELECT 
        do.Nombre AS NombreDoctor,   -- Asegúrate de que el alias está aquí
        do.Matricula,
        do.Especialidad,
        do.Foto,
        de.Nombre AS NombreDepartamento  -- Si necesitas el nombre del departamento
    FROM Doctores do
    JOIN Departamentos de ON de.ID_Departamento = do.ID_Departamento
    WHERE do.ID_Doctor = @ID_Doctor
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_Armazon]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_Armazon]
@ID as int
as
delete  Turnos
where ID_Turno = @ID
GO
/****** Object:  StoredProcedure [dbo].[GetPacienteInfo]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPacienteInfo]
    @UserID INT
AS
BEGIN
    SELECT Username, Email
    FROM Usuarios 
    WHERE Id = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[Modificar_Turno]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar_Turno]
    @ID AS INT,
    @Motivo AS VARCHAR(50), 
    @Telefono AS VARCHAR(50), 
    @Fecha AS DATE
AS
BEGIN
    -- Actualizar el turno
    UPDATE Turnos
    SET Motivos = @Motivo, 
        Telefono = @Telefono, 
        Fecha_Turno = @Fecha
    WHERE Turnos.ID_Turno = @ID;
END

  
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RegistrarUsuarios]
@Username as varchar(50), 
@Password as Varchar(50) ,
@Email as varchar(50)
as
INSERT INTO Usuarios (Username, Password, Email) VALUES (@Username, @Password, @Email)
GO
/****** Object:  StoredProcedure [dbo].[VerificarUsuarios]    Script Date: 21/10/2024 13:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarUsuarios]
    @Username VARCHAR(50),
    @Password VARCHAR(50)
AS
BEGIN
    SELECT Id, Username, Password
    FROM Usuarios
    WHERE Username = @Username AND Password = @Password
END
GO
USE [master]
GO
